openapi: 3.0.0
info:
  contact: {}
  description: Kanmon's public api. Contains all of the endpoints for both capital
    providers and platforms
  title: Kanmon Public V2 API
  version: 2.0.0
servers:
- description: Production
  url: https://api.kanmon.com
- description: Sandbox
  url: https://api.kanmon.dev
- description: Local
  url: http://localhost:3333
- description: Staging
  url: https://workflow.concar.dev
paths:
  /api/platform/v2/prequalifications:
    get:
      operationId: getAllPrequalifiedBusinesses
      parameters:
      - description: A comma delimited list of your platform’s unique IDs for businesses.
        example: "12345,67890"
        explode: true
        in: query
        name: platformBusinessIds
        required: false
        schema:
          type: string
        style: form
      - description: The number of records to skip when performing pagination. Defaults
          to `0`.
        example: "0"
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: number
        style: form
      - description: "The number of records to limit when performing pagination. Defaults\
          \ to `100`, which is the max."
        example: "100"
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: number
        style: form
      - description: Filter for records where `createdAt` is greater than or equal
          to this value. ISO 8601 format.
        example: 2022-06-01T03:57:26.115Z
        explode: true
        in: query
        name: createdAtStart
        required: false
        schema:
          type: string
        style: form
      - description: Filter for records where `createdAt` is less than or equal to
          this value. ISO 8601 format.
        example: 2022-06-01T03:57:26.115Z
        explode: true
        in: query
        name: createdAtEnd
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPrequalificationsResponse'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestException'
          description: BadRequestException
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenException'
          description: ForbiddenException
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorException'
          description: InternalServerErrorException
      security:
      - Authorization: []
      summary: Fetch business prequalifications
      tags:
      - Prequalifications
      x-readme:
        code-samples:
        - language: node
          install: npm install @kanmon/sdk
          name: SDK
          code: "\nkanmonApi.prequalifications.getAllPrequalifiedBusinesses({\n  ...params...\n\
            })\n    "
      x-accepts:
      - application/json
  /api/platform/v2/businesses:
    get:
      operationId: getAllBusinesses
      parameters:
      - description: A comma delimited list of Kanmon’s unique IDs for businesses.
        example: "60eaa08c-f7a5-4f3a-860d-a16dde5771d6,70eaa08c-f7a5-4f3a-860d-a16dde5771e34"
        explode: true
        in: query
        name: ids
        required: false
        schema:
          type: string
        style: form
      - description: A comma delimited list of your platform’s unique IDs for businesses.
        example: "12345,67890"
        explode: true
        in: query
        name: platformBusinessIds
        required: false
        schema:
          type: string
        style: form
      - description: The number of records to skip when performing pagination. Defaults
          to `0`.
        example: "0"
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: number
        style: form
      - description: "The number of records to limit when performing pagination. Defaults\
          \ to `100`, which is the max."
        example: "100"
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: number
        style: form
      - description: Filter for records where `createdAt` is greater than or equal
          to this value. ISO 8601 format.
        example: 2022-06-01T03:57:26.115Z
        explode: true
        in: query
        name: createdAtStart
        required: false
        schema:
          type: string
        style: form
      - description: Filter for records where `createdAt` is less than or equal to
          this value. ISO 8601 format.
        example: 2022-06-01T03:57:26.115Z
        explode: true
        in: query
        name: createdAtEnd
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBusinessesResponse'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestException'
          description: BadRequestException
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenException'
          description: ForbiddenException
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorException'
          description: InternalServerErrorException
      security:
      - Authorization: []
      summary: Fetch businesses
      tags:
      - Businesses
      x-readme:
        code-samples:
        - language: node
          install: npm install @kanmon/sdk
          name: SDK
          code: "\nkanmonApi.businesses.getAllBusinesses({\n  ...params...\n})\n \
            \   "
      x-accepts:
      - application/json
    post:
      operationId: createBusiness
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBusinessRequestBody'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Business'
          description: Business created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestException'
          description: BadRequestException
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenException'
          description: ForbiddenException
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createBusiness_404_response'
          description: "BusinessNotFoundException, CustomInitializationNotFoundException"
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessAlreadyExistsException'
          description: BusinessAlreadyExistsException
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorException'
          description: InternalServerErrorException
      security:
      - Authorization: []
      summary: Create a business
      tags:
      - Businesses
      x-readme:
        code-samples:
        - language: node
          install: npm install @kanmon/sdk
          name: SDK
          code: "\nkanmonApi.businesses.createBusiness({\n  ...params...\n})\n    "
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/platform/v2/businesses/{id}:
    get:
      operationId: getBusiness
      parameters:
      - description: "Either the Kanmon business UUID or your platform’s business\
          \ ID, depending on `idType`."
        example: 60eaa08c-f7a5-4f3a-860d-a16dde5771d6
        explode: false
        in: path
        name: id
        required: true
        schema: {}
        style: simple
      - description: Which ID type to query the business by. Defaults to `KANMON`.
          Use `PLATFORM` if you want to query by your platform’s ID.
        example: KANMON
        explode: true
        in: query
        name: idType
        required: false
        schema:
          enum:
          - KANMON
          - PLATFORM
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Business'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestException'
          description: BadRequestException
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenException'
          description: ForbiddenException
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessNotFoundException'
          description: BusinessNotFoundException
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorException'
          description: InternalServerErrorException
      security:
      - Authorization: []
      summary: Fetch a business
      tags:
      - Businesses
      x-readme:
        code-samples:
        - language: node
          install: npm install @kanmon/sdk
          name: SDK
          code: "\nkanmonApi.businesses.getBusiness({\n  ...params...\n})\n    "
      x-accepts:
      - application/json
    patch:
      operationId: updateBusiness
      parameters:
      - description: "Either the Kanmon business UUID or your platform’s business\
          \ ID, depending on `idType`."
        example: 60eaa08c-f7a5-4f3a-860d-a16dde5771d6
        explode: false
        in: path
        name: id
        required: true
        schema: {}
        style: simple
      - description: Which ID type to query the business by. Defaults to `KANMON`.
          Use `PLATFORM` if you want to query by your platform’s ID.
        example: KANMON
        explode: true
        in: query
        name: idType
        required: false
        schema:
          enum:
          - KANMON
          - PLATFORM
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateBusinessRequestBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Business'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestException'
          description: BadRequestException
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenException'
          description: ForbiddenException
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createBusiness_404_response'
          description: "BusinessNotFoundException, CustomInitializationNotFoundException"
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessAlreadyExistsException'
          description: BusinessAlreadyExistsException
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorException'
          description: InternalServerErrorException
      security:
      - Authorization: []
      summary: Update a business
      tags:
      - Businesses
      x-readme:
        code-samples:
        - language: node
          install: npm install @kanmon/sdk
          name: SDK
          code: "\nkanmonApi.businesses.updateBusiness({\n  ...params...\n})\n    "
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/platform/v2/businesses/{id}/activity-logs:
    get:
      operationId: getBusinessActivityLog
      parameters:
      - description: "Either the Kanmon business UUID or your platform’s business\
          \ ID, depending on `idType`."
        example: 60eaa08c-f7a5-4f3a-860d-a16dde5771d6
        explode: false
        in: path
        name: id
        required: true
        schema: {}
        style: simple
      - description: Which ID type to query the business by. Defaults to `KANMON`.
          Use `PLATFORM` if you want to query by your platform’s ID.
        example: KANMON
        explode: true
        in: query
        name: idType
        required: false
        schema:
          enum:
          - KANMON
          - PLATFORM
          type: string
        style: form
      - description: The number of records to skip when performing pagination. Defaults
          to `0`.
        example: "0"
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: number
        style: form
      - description: "The number of records to limit when performing pagination. Defaults\
          \ to `100`, which is the max."
        example: "100"
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: number
        style: form
      - description: Filter for records where `createdAt` is greater than or equal
          to this value. ISO 8601 format.
        example: 2022-06-01T03:57:26.115Z
        explode: true
        in: query
        name: createdAtStart
        required: false
        schema:
          type: string
        style: form
      - description: Filter for records where `createdAt` is less than or equal to
          this value. ISO 8601 format.
        example: 2022-06-01T03:57:26.115Z
        explode: true
        in: query
        name: createdAtEnd
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetActivityLogsResponse'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestException'
          description: BadRequestException
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenException'
          description: ForbiddenException
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessNotFoundException'
          description: BusinessNotFoundException
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorException'
          description: InternalServerErrorException
      security:
      - Authorization: []
      summary: Fetch activity logs for a business
      tags:
      - Businesses
      x-readme:
        code-samples:
        - language: node
          install: npm install @kanmon/sdk
          name: SDK
          code: "\nkanmonApi.businesses.getBusinessActivityLog({\n  ...params...\n\
            })\n    "
      x-accepts:
      - application/json
  /api/platform/v2/users:
    get:
      operationId: getAllUsers
      parameters:
      - description: A comma delimited list of Kanmon’s unique IDs for users.
        example: "60eaa08c-f7a5-4f3a-860d-a16dde5771d6,70eaa08c-f7a5-4f3a-860d-a16dde5771e34"
        explode: true
        in: query
        name: ids
        required: false
        schema:
          type: string
        style: form
      - description: A comma delimited list of your platform’s unique IDs for users.
        example: "12345,67890"
        explode: true
        in: query
        name: platformUserIds
        required: false
        schema:
          type: string
        style: form
      - description: A comma delimited list of your platform’s unique business IDs
          for users.
        example: "12345,67890"
        explode: true
        in: query
        name: platformBusinessIds
        required: false
        schema:
          type: string
        style: form
      - description: A comma delimited list of your Kanmon’s unique business IDs for
          users.
        example: "ac7d5bb7-46bc-4658-946d-5e61b9081da7,6ad946bd-ee27-4046-b512-049e55cfe4af"
        explode: true
        in: query
        name: businessIds
        required: false
        schema:
          type: string
        style: form
      - description: The number of records to skip when performing pagination. Defaults
          to `0`.
        example: "0"
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: number
        style: form
      - description: "The number of records to limit when performing pagination. Defaults\
          \ to `100`, which is the max."
        example: "100"
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: number
        style: form
      - description: Filter for records where `createdAt` is greater than or equal
          to this value. ISO 8601 format.
        example: 2022-06-01T03:57:26.115Z
        explode: true
        in: query
        name: createdAtStart
        required: false
        schema:
          type: string
        style: form
      - description: Filter for records where `createdAt` is less than or equal to
          this value. ISO 8601 format.
        example: 2022-06-01T03:57:26.115Z
        explode: true
        in: query
        name: createdAtEnd
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUsersResponse'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestException'
          description: BadRequestException
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenException'
          description: ForbiddenException
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorException'
          description: InternalServerErrorException
      security:
      - Authorization: []
      summary: Fetch users
      tags:
      - Users
      x-readme:
        code-samples:
        - language: node
          install: npm install @kanmon/sdk
          name: SDK
          code: "\nkanmonApi.users.getAllUsers({\n  ...params...\n})\n    "
      x-accepts:
      - application/json
    post:
      operationId: createUser
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUserRequestBody'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
          description: User created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestException'
          description: BadRequestException
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenException'
          description: ForbiddenException
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessNotFoundException'
          description: BusinessNotFoundException
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createUser_409_response'
          description: "PrimaryBusinessOwnerAlreadyExistsForBusinessException, UserAlreadyExistsWithPlatformUserIdException,\
            \ UserAlreadyExistsWithEmailException"
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorException'
          description: InternalServerErrorException
      security:
      - Authorization: []
      summary: Create a user
      tags:
      - Users
      x-readme:
        code-samples:
        - language: node
          install: npm install @kanmon/sdk
          name: SDK
          code: "\nkanmonApi.users.createUser({\n  ...params...\n})\n    "
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/platform/v2/users/{id}:
    get:
      operationId: getUser
      parameters:
      - description: "Either the Kanmon user UUID or your platform’s user ID, depending\
          \ on `idType`."
        example: 60eaa08c-f7a5-4f3a-860d-a16dde5771d6
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Which ID type to query the user by. Defaults to `KANMON`. Use
          `PLATFORM` if you want to query by your platform’s ID.
        example: KANMON
        explode: true
        in: query
        name: idType
        required: false
        schema:
          enum:
          - KANMON
          - PLATFORM
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestException'
          description: BadRequestException
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenException'
          description: ForbiddenException
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserNotFoundException'
          description: UserNotFoundException
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorException'
          description: InternalServerErrorException
      security:
      - Authorization: []
      summary: Fetch a user
      tags:
      - Users
      x-readme:
        code-samples:
        - language: node
          install: npm install @kanmon/sdk
          name: SDK
          code: "\nkanmonApi.users.getUser({\n  ...params...\n})\n    "
      x-accepts:
      - application/json
    patch:
      operationId: updateUser
      parameters:
      - description: "Either the Kanmon user UUID or your platform’s user ID, depending\
          \ on `idType`."
        example: 60eaa08c-f7a5-4f3a-860d-a16dde5771d6
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Which ID type to query the user by. Defaults to `KANMON`. Use
          `PLATFORM` if you want to query by your platform’s ID.
        example: KANMON
        explode: true
        in: query
        name: idType
        required: false
        schema:
          enum:
          - KANMON
          - PLATFORM
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserRequestBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestException'
          description: BadRequestException
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenException'
          description: ForbiddenException
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserNotFoundException'
          description: UserNotFoundException
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/updateUser_409_response'
          description: "UserAlreadyExistsWithEmailException, PrimaryBusinessOwnerAlreadyExistsForBusinessException"
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorException'
          description: InternalServerErrorException
      security:
      - Authorization: []
      summary: Update a user
      tags:
      - Users
      x-readme:
        code-samples:
        - language: node
          install: npm install @kanmon/sdk
          name: SDK
          code: "\nkanmonApi.users.updateUser({\n  ...params...\n})\n    "
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/platform/v2/users/merge:
    post:
      description: "Users from the source business will be moved into the target business.\
        \ This will only work if the source business has not started onboarding yet.\
        \ After the merge, the source business will be deleted."
      operationId: mergeUserIntoBusiness
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MergeUsersRequestBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MergeUsersResponseBody'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestException'
          description: BadRequestException
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenException'
          description: ForbiddenException
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessNotFoundException'
          description: BusinessNotFoundException
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrimaryBusinessOwnerAlreadyExistsForBusinessException'
          description: PrimaryBusinessOwnerAlreadyExistsForBusinessException
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorException'
          description: InternalServerErrorException
      security:
      - Authorization: []
      summary: Merge users from a source business into a target business
      tags:
      - Users
      x-readme:
        code-samples:
        - language: node
          install: npm install @kanmon/sdk
          name: SDK
          code: "\nkanmonApi.users.mergeUserIntoBusiness({\n  ...params...\n})\n \
            \   "
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/platform/v2/connect-tokens:
    post:
      description: Create a one-time use Connect Token for authenticating the user.
        The Connect Token expires after 24 hours. Multiple Connect Tokens can be created
        at the same time for a single user.
      operationId: createConnectToken
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateConnectTokenRequestBody'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectToken'
          description: Connect token created.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestException'
          description: BadRequestException
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenException'
          description: ForbiddenException
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserNotFoundException'
          description: UserNotFoundException
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorException'
          description: InternalServerErrorException
      security:
      - Authorization: []
      summary: Create a Connect Token
      tags:
      - Connect Tokens
      x-readme:
        code-samples:
        - language: node
          install: npm install @kanmon/sdk
          name: SDK
          code: "\nkanmonApi.connectTokens.createConnectToken({\n  ...params...\n\
            })\n    "
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/platform/v2/invoices/{id}:
    get:
      operationId: getInvoice
      parameters:
      - description: "Either the Kanmon invoice UUID or your platform’s invoice ID,\
          \ depending on `idType`."
        example: 60eaa08c-f7a5-4f3a-860d-a16dde5771d6
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Which ID type to query the invoice by. Defaults to `KANMON`.
          Use `PLATFORM` if you want to query by your platform’s ID.
        example: KANMON
        explode: true
        in: query
        name: idType
        required: false
        schema:
          enum:
          - KANMON
          - PLATFORM
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestException'
          description: BadRequestException
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenException'
          description: ForbiddenException
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getInvoice_404_response'
          description: "InvoiceNotFoundException, BusinessNotFoundException"
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorException'
          description: InternalServerErrorException
      security:
      - Authorization: []
      summary: Fetch an invoice
      tags:
      - Invoices
      x-readme:
        code-samples:
        - language: node
          install: npm install @kanmon/sdk
          name: SDK
          code: "\nkanmonApi.invoices.getInvoice({\n  ...params...\n})\n    "
      x-accepts:
      - application/json
  /api/platform/v2/invoices:
    get:
      operationId: getAllInvoices
      parameters:
      - description: A comma delimited list of invoice statuses.
        example: "INVOICE_CREATED,INVOICE_FUNDED"
        explode: true
        in: query
        name: statuses
        required: false
        schema:
          type: string
        style: form
      - description: A comma delimited list of Kanmon’s unique IDs for invoices.
        example: "60eaa08c-f7a5-4f3a-860d-a16dde5771d6,70eaa08c-f7a5-4f3a-860d-a16dde5771e34"
        explode: true
        in: query
        name: ids
        required: false
        schema:
          type: string
        style: form
      - description: A comma delimited list of your platform’s unique IDs for businesses.
        example: "12345,67890"
        explode: true
        in: query
        name: platformBusinessIds
        required: false
        schema:
          type: string
        style: form
      - description: A comma delimited list of Kanmon’s unique IDs for businesses.
        example: "60eaa08c-f7a5-4f3a-860d-a16dde5771d6,70eaa08c-f7a5-4f3a-860d-a16dde5771e34"
        explode: true
        in: query
        name: businessIds
        required: false
        schema:
          type: string
        style: form
      - description: A comma delimited list of your platforms’s unique IDs for invoices.
        example: "12345,67890"
        explode: true
        in: query
        name: platformInvoiceIds
        required: false
        schema:
          type: string
        style: form
      - description: The number of records to skip when performing pagination. Defaults
          to `0`.
        example: "0"
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: number
        style: form
      - description: "The number of records to limit when performing pagination. Defaults\
          \ to `100`, which is the max."
        example: "100"
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: number
        style: form
      - description: Filter for records where `createdAt` is greater than or equal
          to this value. ISO 8601 format.
        example: 2022-06-01T03:57:26.115Z
        explode: true
        in: query
        name: createdAtStart
        required: false
        schema:
          type: string
        style: form
      - description: Filter for records where `createdAt` is less than or equal to
          this value. ISO 8601 format.
        example: 2022-06-01T03:57:26.115Z
        explode: true
        in: query
        name: createdAtEnd
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetInvoicesResponse'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestException'
          description: BadRequestException
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenException'
          description: ForbiddenException
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorException'
          description: InternalServerErrorException
      security:
      - Authorization: []
      summary: Fetch invoices
      tags:
      - Invoices
      x-readme:
        code-samples:
        - language: node
          install: npm install @kanmon/sdk
          name: SDK
          code: "\nkanmonApi.invoices.getAllInvoices({\n  ...params...\n})\n    "
      x-accepts:
      - application/json
  /api/platform/v2/offers/{id}:
    get:
      operationId: getOfferById
      parameters:
      - description: The Kanmon offer UUID.
        example: 60eaa08c-f7a5-4f3a-860d-a16dde5771d6
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Offer'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestException'
          description: BadRequestException
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenException'
          description: ForbiddenException
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OfferNotFoundException'
          description: OfferNotFoundException
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorException'
          description: InternalServerErrorException
      security:
      - Authorization: []
      summary: Fetch an offer
      tags:
      - Offers
      x-readme:
        code-samples:
        - language: node
          install: npm install @kanmon/sdk
          name: SDK
          code: "\nkanmonApi.offers.getOfferById({\n  ...params...\n})\n    "
      x-accepts:
      - application/json
  /api/platform/v2/offers:
    get:
      operationId: getAllOffers
      parameters:
      - description: A comma delimited list of Kanmon’s unique IDs for offers.
        example: "60eaa08c-f7a5-4f3a-860d-a16dde5771d6,70eaa08c-f7a5-4f3a-860d-a16dde5771e34"
        explode: true
        in: query
        name: ids
        required: false
        schema:
          type: string
        style: form
      - description: A comma delimited list of your platform’s unique IDs for businesses.
        example: "12345,67890"
        explode: true
        in: query
        name: platformBusinessIds
        required: false
        schema:
          type: string
        style: form
      - description: A comma delimited list of Kanmon’s unique IDs for businesses.
        example: "60eaa08c-f7a5-4f3a-860d-a16dde5771d6,70eaa08c-f7a5-4f3a-860d-a16dde5771e34"
        explode: true
        in: query
        name: businessIds
        required: false
        schema:
          type: string
        style: form
      - description: The number of records to skip when performing pagination. Defaults
          to `0`.
        example: "0"
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: number
        style: form
      - description: "The number of records to limit when performing pagination. Defaults\
          \ to `100`, which is the max."
        example: "100"
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: number
        style: form
      - description: Filter for records where `createdAt` is greater than or equal
          to this value. ISO 8601 format.
        example: 2022-06-01T03:57:26.115Z
        explode: true
        in: query
        name: createdAtStart
        required: false
        schema:
          type: string
        style: form
      - description: Filter for records where `createdAt` is less than or equal to
          this value. ISO 8601 format.
        example: 2022-06-01T03:57:26.115Z
        explode: true
        in: query
        name: createdAtEnd
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOffersResponse'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestException'
          description: BadRequestException
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenException'
          description: ForbiddenException
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorException'
          description: InternalServerErrorException
      security:
      - Authorization: []
      summary: Fetch offers
      tags:
      - Offers
      x-readme:
        code-samples:
        - language: node
          install: npm install @kanmon/sdk
          name: SDK
          code: "\nkanmonApi.offers.getAllOffers({\n  ...params...\n})\n    "
      x-accepts:
      - application/json
  /api/platform/v2/issued-products/{id}:
    get:
      operationId: getIssuedProductById
      parameters:
      - description: The Kanmon issued product UUID.
        example: 60eaa08c-f7a5-4f3a-860d-a16dde5771d6
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IssuedProduct'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestException'
          description: BadRequestException
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenException'
          description: ForbiddenException
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IssuedProductNotFoundException'
          description: IssuedProductNotFoundException
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorException'
          description: InternalServerErrorException
      security:
      - Authorization: []
      summary: Fetch an issued product
      tags:
      - Issued Products
      x-readme:
        code-samples:
        - language: node
          install: npm install @kanmon/sdk
          name: SDK
          code: "\nkanmonApi.issuedProducts.getIssuedProductById({\n  ...params...\n\
            })\n    "
      x-accepts:
      - application/json
  /api/platform/v2/issued-products:
    get:
      operationId: getAllIssuedProducts
      parameters:
      - description: A comma delimited list of Kanmon’s unique IDs for offers.
        example: "60eaa08c-f7a5-4f3a-860d-a16dde5771d6,70eaa08c-f7a5-4f3a-860d-a16dde5771e34"
        explode: true
        in: query
        name: offerIds
        required: false
        schema:
          type: string
        style: form
      - description: A comma delimited list of Kanmon’s unique IDs for issued products.
        example: "60eaa08c-f7a5-4f3a-860d-a16dde5771d6,70eaa08c-f7a5-4f3a-860d-a16dde5771e34"
        explode: true
        in: query
        name: ids
        required: false
        schema:
          type: string
        style: form
      - description: A comma delimited list of your platform’s unique IDs for businesses.
        example: "12345,67890"
        explode: true
        in: query
        name: platformBusinessIds
        required: false
        schema:
          type: string
        style: form
      - description: A comma delimited list of Kanmon’s unique IDs for businesses.
        example: "60eaa08c-f7a5-4f3a-860d-a16dde5771d6,70eaa08c-f7a5-4f3a-860d-a16dde5771e34"
        explode: true
        in: query
        name: businessIds
        required: false
        schema:
          type: string
        style: form
      - description: The number of records to skip when performing pagination. Defaults
          to `0`.
        example: "0"
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: number
        style: form
      - description: "The number of records to limit when performing pagination. Defaults\
          \ to `100`, which is the max."
        example: "100"
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: number
        style: form
      - description: Filter for records where `createdAt` is greater than or equal
          to this value. ISO 8601 format.
        example: 2022-06-01T03:57:26.115Z
        explode: true
        in: query
        name: createdAtStart
        required: false
        schema:
          type: string
        style: form
      - description: Filter for records where `createdAt` is less than or equal to
          this value. ISO 8601 format.
        example: 2022-06-01T03:57:26.115Z
        explode: true
        in: query
        name: createdAtEnd
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetIssuedProductsResponse'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestException'
          description: BadRequestException
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenException'
          description: ForbiddenException
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorException'
          description: InternalServerErrorException
      security:
      - Authorization: []
      summary: Fetch issued products
      tags:
      - Issued Products
      x-readme:
        code-samples:
        - language: node
          install: npm install @kanmon/sdk
          name: SDK
          code: "\nkanmonApi.issuedProducts.getAllIssuedProducts({\n  ...params...\n\
            })\n    "
      x-accepts:
      - application/json
  /api/platform/v2/bank-accounts:
    get:
      description: Please contact Kanmon to enable access to bank account APIs.
      operationId: getAllBusinessBankAccounts
      parameters:
      - description: A comma delimited list of Kanmon’s unique IDs for bank accounts.
        example: "60eaa08c-f7a5-4f3a-860d-a16dde5771d6,70eaa08c-f7a5-4f3a-860d-a16dde5771e34"
        explode: true
        in: query
        name: ids
        required: false
        schema:
          type: string
        style: form
      - description: A comma delimited list of your platform’s unique IDs for bank
          accounts.
        example: "12345,67890"
        explode: true
        in: query
        name: platformBankAccountIds
        required: false
        schema:
          type: string
        style: form
      - description: A comma delimited list of your platform’s unique business IDs
          for bannk accounts.
        example: "12345,67890"
        explode: true
        in: query
        name: platformBusinessIds
        required: false
        schema:
          type: string
        style: form
      - description: A comma delimited list of your Kanmon’s unique business IDs for
          bannk accounts.
        example: "0de7aa9d-e9a5-4939-a0b4-7deffceabb8b,7738e39d-0622-49ef-a2b5-c5bf8e442550"
        explode: true
        in: query
        name: businessIds
        required: false
        schema:
          type: string
        style: form
      - description: The number of records to skip when performing pagination. Defaults
          to `0`.
        example: "0"
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: number
        style: form
      - description: "The number of records to limit when performing pagination. Defaults\
          \ to `100`, which is the max."
        example: "100"
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: number
        style: form
      - description: Filter for records where `createdAt` is greater than or equal
          to this value. ISO 8601 format.
        example: 2022-06-01T03:57:26.115Z
        explode: true
        in: query
        name: createdAtStart
        required: false
        schema:
          type: string
        style: form
      - description: Filter for records where `createdAt` is less than or equal to
          this value. ISO 8601 format.
        example: 2022-06-01T03:57:26.115Z
        explode: true
        in: query
        name: createdAtEnd
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBusinessBankAccountsResponse'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestException'
          description: BadRequestException
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenException'
          description: ForbiddenException
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorException'
          description: InternalServerErrorException
      security:
      - Authorization: []
      summary: Fetch business bank accounts
      tags:
      - Bank Accounts
      x-readme:
        code-samples:
        - language: node
          install: npm install @kanmon/sdk
          name: SDK
          code: "\nkanmonApi.bankAccounts.getAllBusinessBankAccounts({\n  ...params...\n\
            })\n    "
      x-accepts:
      - application/json
    post:
      description: |-
        We only support creating disbursement checking accounts at the moment. Each business can only have one disbursement checking account.
              Please contact Kanmon to enable access to bank account APIs.
      operationId: createBusinessBankAccount
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBusinessBankAccountRequestBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessBankAccount'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestException'
          description: BadRequestException
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenException'
          description: ForbiddenException
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessNotFoundException'
          description: BusinessNotFoundException
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankAccountAlreadyExistException'
          description: BankAccountAlreadyExistException
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorException'
          description: InternalServerErrorException
      security:
      - Authorization: []
      summary: Create a business bank account
      tags:
      - Bank Accounts
      x-readme:
        code-samples:
        - language: node
          install: npm install @kanmon/sdk
          name: SDK
          code: "\nkanmonApi.bankAccounts.createBusinessBankAccount({\n  ...params...\n\
            })\n    "
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/platform/v2/bank-accounts/{id}:
    get:
      description: Please contact Kanmon to enable access to bank account APIs.
      operationId: getBusinessBankAccount
      parameters:
      - description: "Either the Kanmon bank account UUID or your platform’s bank\
          \ account ID, depending on `idType`."
        example: 60eaa08c-f7a5-4f3a-860d-a16dde5771d6
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Which ID type to query the bank account by. Defaults to `KANMON`.
          Use `PLATFORM` if you want to query by your platform’s ID.
        example: KANMON
        explode: true
        in: query
        name: idType
        required: false
        schema:
          enum:
          - KANMON
          - PLATFORM
          type: string
        style: form
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessBankAccount'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestException'
          description: BadRequestException
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenException'
          description: ForbiddenException
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankAccountNotFoundException'
          description: BankAccountNotFoundException
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorException'
          description: InternalServerErrorException
      security:
      - Authorization: []
      summary: Fetch a business bank account
      tags:
      - Bank Accounts
      x-readme:
        code-samples:
        - language: node
          install: npm install @kanmon/sdk
          name: SDK
          code: "\nkanmonApi.bankAccounts.getBusinessBankAccount({\n  ...params...\n\
            })\n    "
      x-accepts:
      - application/json
    patch:
      description: |-
        We only support creating disbursement checking accounts at the moment. Each business can only have one disbursement checking account.
                Please contact Kanmon to enable access to bank account APIs.
      operationId: updateBusinessBankAccount
      parameters:
      - description: "Either the Kanmon bank account UUID or your platform’s bank\
          \ account ID, depending on `idType`."
        example: 60eaa08c-f7a5-4f3a-860d-a16dde5771d6
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Which ID type to query the bank account by. Defaults to `KANMON`.
          Use `PLATFORM` if you want to query by your platform’s ID.
        example: KANMON
        explode: true
        in: query
        name: idType
        required: false
        schema:
          enum:
          - KANMON
          - PLATFORM
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateBusinessAccountRequestBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessBankAccount'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestException'
          description: BadRequestException
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenException'
          description: ForbiddenException
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankAccountNotFoundException'
          description: BankAccountNotFoundException
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorException'
          description: InternalServerErrorException
      security:
      - Authorization: []
      summary: Update a business bank account
      tags:
      - Bank Accounts
      x-readme:
        code-samples:
        - language: node
          install: npm install @kanmon/sdk
          name: SDK
          code: "\nkanmonApi.bankAccounts.updateBusinessBankAccount({\n  ...params...\n\
            })\n    "
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/platform/v2/payments/{id}:
    get:
      operationId: getPaymentById
      parameters:
      - description: The Kanmon payment order UUID.
        example: 60eaa08c-f7a5-4f3a-860d-a16dde5771d6
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentOrder'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestException'
          description: BadRequestException
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenException'
          description: ForbiddenException
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentOrderNotFoundException'
          description: PaymentOrderNotFoundException
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorException'
          description: InternalServerErrorException
      security:
      - Authorization: []
      summary: Fetch a payment
      tags:
      - Payments
      x-readme:
        code-samples:
        - language: node
          install: npm install @kanmon/sdk
          name: SDK
          code: "\nkanmonApi.payments.getPaymentById({\n  ...params...\n})\n    "
      x-accepts:
      - application/json
  /api/platform/v2/issued-products/{id}/payment-schedule:
    get:
      operationId: getPaymentScheduleForAIssuedProduct
      parameters:
      - description: A comma delimited list of Kanmon’s unique draw request IDs.
        example: "2759cc55-043e-46fa-b890-ca8e4b44d80c,fda214fa-1bb2-43ca-971c-915396c86300"
        explode: true
        in: query
        name: drawRequestIds
        required: false
        schema:
          type: string
        style: form
      - description: A comma delimited list of Kanmon’s unique IDs for invoices.
        example: "60eaa08c-f7a5-4f3a-860d-a16dde5771d6,70eaa08c-f7a5-4f3a-860d-a16dde5771e34"
        explode: true
        in: query
        name: invoiceIds
        required: false
        schema:
          type: string
        style: form
      - description: A comma delimited list of your platform’s unique IDs for invoices.
        example: "12322,12331"
        explode: true
        in: query
        name: platformInvoiceIds
        required: false
        schema:
          type: string
        style: form
      - description: The direction of the payment.
        example: REPAYMENT
        explode: true
        in: query
        name: direction
        required: false
        schema:
          enum:
          - DISBURSEMENT
          - REPAYMENT
          type: string
        style: form
      - description: The status of the payment.
        example: PAID
        explode: true
        in: query
        name: status
        required: false
        schema:
          $ref: '#/components/schemas/PaymentOrderStatus'
        style: form
      - description: The Kanmon issued product UUID.
        example: 60eaa08c-f7a5-4f3a-860d-a16dde5771d6
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: The number of records to skip when performing pagination. Defaults
          to `0`.
        example: "0"
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: number
        style: form
      - description: "The number of records to limit when performing pagination. Defaults\
          \ to `100`, which is the max."
        example: "100"
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: number
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPaymentScheduleResponse'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestException'
          description: BadRequestException
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenException'
          description: ForbiddenException
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IssuedProductNotFoundException'
          description: IssuedProductNotFoundException
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorException'
          description: InternalServerErrorException
      security:
      - Authorization: []
      summary: Fetch payment schedule for an issued product
      tags:
      - Payments
      x-readme:
        code-samples:
        - language: node
          install: npm install @kanmon/sdk
          name: SDK
          code: "\nkanmonApi.payments.getPaymentScheduleForAIssuedProduct({\n  ...params...\n\
            })\n    "
      x-accepts:
      - application/json
  /api/platform/v2/draw-requests/{id}:
    get:
      operationId: getDrawRequest
      parameters:
      - description: The Kanmon draw request UUID.
        example: 60eaa08c-f7a5-4f3a-860d-a16dde5771d6
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DrawRequest'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestException'
          description: BadRequestException
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenException'
          description: ForbiddenException
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DrawRequestNotFoundException'
          description: ""
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorException'
          description: InternalServerErrorException
      security:
      - Authorization: []
      summary: Fetch a draw request
      tags:
      - Draw Requests
      x-readme:
        code-samples:
        - language: node
          install: npm install @kanmon/sdk
          name: SDK
          code: "\nkanmonApi.drawRequests.getDrawRequest({\n  ...params...\n})\n \
            \   "
      x-accepts:
      - application/json
  /api/platform/v2/draw-requests:
    get:
      operationId: getAllDrawRequests
      parameters:
      - description: A comma delimited list of draw request statuses.
        example: "DRAW_REQUEST_FUNDED,DRAW_REQUEST_PAID_IN_FULL"
        explode: true
        in: query
        name: statuses
        required: false
        schema:
          type: string
        style: form
      - description: A comma delimited list of Kanmon’s unique IDs for invoices.
        example: "60eaa08c-f7a5-4f3a-860d-a16dde5771d6,70eaa08c-f7a5-4f3a-860d-a16dde5771e34"
        explode: true
        in: query
        name: ids
        required: false
        schema:
          type: string
        style: form
      - description: A comma delimited list of your platform’s unique IDs for businesses.
        example: "12345,67890"
        explode: true
        in: query
        name: platformBusinessIds
        required: false
        schema:
          type: string
        style: form
      - description: A comma delimited list of Kanmon’s unique IDs for businesses.
        example: "60eaa08c-f7a5-4f3a-860d-a16dde5771d6,70eaa08c-f7a5-4f3a-860d-a16dde5771e34"
        explode: true
        in: query
        name: businessIds
        required: false
        schema:
          type: string
        style: form
      - description: The number of records to skip when performing pagination. Defaults
          to `0`.
        example: "0"
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: number
        style: form
      - description: "The number of records to limit when performing pagination. Defaults\
          \ to `100`, which is the max."
        example: "100"
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: number
        style: form
      - description: Filter for records where `createdAt` is greater than or equal
          to this value. ISO 8601 format.
        example: 2022-06-01T03:57:26.115Z
        explode: true
        in: query
        name: createdAtStart
        required: false
        schema:
          type: string
        style: form
      - description: Filter for records where `createdAt` is less than or equal to
          this value. ISO 8601 format.
        example: 2022-06-01T03:57:26.115Z
        explode: true
        in: query
        name: createdAtEnd
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDrawRequestsResponse'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestException'
          description: BadRequestException
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenException'
          description: ForbiddenException
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorException'
          description: InternalServerErrorException
      security:
      - Authorization: []
      summary: Fetch draw requests
      tags:
      - Draw Requests
      x-readme:
        code-samples:
        - language: node
          install: npm install @kanmon/sdk
          name: SDK
          code: "\nkanmonApi.drawRequests.getAllDrawRequests({\n  ...params...\n})\n\
            \    "
      x-accepts:
      - application/json
  /api/platform/v2/documents:
    post:
      operationId: createBusinessDocument
      parameters: []
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/UploadBankDocumentsRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateBusinessDocumentsResponse'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestException'
          description: BadRequestException
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenException'
          description: ForbiddenException
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorException'
          description: InternalServerErrorException
      security:
      - Authorization: []
      summary: Upload documents for a business
      tags:
      - Documents
      x-readme:
        code-samples:
        - language: node
          install: npm install @kanmon/sdk
          name: SDK
          code: "\nkanmonApi.documents.createBusinessDocument({\n  ...params...\n\
            })\n    "
      x-content-type: multipart/form-data
      x-accepts:
      - application/json
  /api/platform/v2/integrated-mca-receivables:
    get:
      operationId: getAllIntegratedMcaReceivables
      parameters:
      - description: A comma delimited list of Kanmon’s unique IDs for integrated
          MCA receivable.
        example: "60eaa08c-f7a5-4f3a-860d-a16dde5771d6,70eaa08c-f7a5-4f3a-860d-a16dde5771e34"
        explode: true
        in: query
        name: ids
        required: false
        schema:
          type: string
        style: form
      - description: A comma delimited list of Kanmon unique IDs for issued product.
        example: "60eaa08c-f7a5-4f3a-860d-a16dde5771d6,70eaa08c-f7a5-4f3a-860d-a16dde5771e34"
        explode: true
        in: query
        name: issuedProductIds
        required: false
        schema:
          type: string
        style: form
      - description: A comma delimited list of your platform’s unique IDs for transaction.
        example: "12345,67890"
        explode: true
        in: query
        name: transactionIds
        required: false
        schema:
          type: string
        style: form
      - description: The number of records to skip when performing pagination. Defaults
          to `0`.
        example: "0"
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: number
        style: form
      - description: "The number of records to limit when performing pagination. Defaults\
          \ to `100`, which is the max."
        example: "100"
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: number
        style: form
      - description: Filter for records where `createdAt` is greater than or equal
          to this value. ISO 8601 format.
        example: 2022-06-01T03:57:26.115Z
        explode: true
        in: query
        name: createdAtStart
        required: false
        schema:
          type: string
        style: form
      - description: Filter for records where `createdAt` is less than or equal to
          this value. ISO 8601 format.
        example: 2022-06-01T03:57:26.115Z
        explode: true
        in: query
        name: createdAtEnd
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetIntegratedMcaReceivablesResponse'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestException'
          description: BadRequestException
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenException'
          description: ForbiddenException
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorException'
          description: InternalServerErrorException
      security:
      - Authorization: []
      summary: Fetch integrated MCA receivables
      tags:
      - Integrated MCA Receivables
      x-readme:
        code-samples:
        - language: node
          install: npm install @kanmon/sdk
          name: SDK
          code: "\nkanmonApi.integratedMcaReceivable.getAllIntegratedMcaReceivables({\n\
            \  ...params...\n})\n    "
      x-accepts:
      - application/json
    post:
      operationId: createIntegratedMcaReceivable
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateIntegratedMcaReceivableBody'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegratedMcaReceivable'
          description: ""
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createIntegratedMcaReceivable_400_response'
          description: "BadRequestException, NoRemainingBalanceException, IncorrectRepaymentAmountException"
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenException'
          description: ForbiddenException
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IssuedProductNotFoundException'
          description: IssuedProductNotFoundException
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createIntegratedMcaReceivable_409_response'
          description: "IncorrectProductTypeException, IntegratedMcaReceivableAlreadyExistsException"
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorException'
          description: InternalServerErrorException
      security:
      - Authorization: []
      summary: Create an integrated MCA receivable
      tags:
      - Integrated MCA Receivables
      x-readme:
        code-samples:
        - language: node
          install: npm install @kanmon/sdk
          name: SDK
          code: "\nkanmonApi.integratedMcaReceivable.createIntegratedMcaReceivable({\n\
            \  ...params...\n})\n    "
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/platform/v2/embedded-session:
    post:
      description: "Embedded session tokens allow you to securely pass data to Kanmon.\
        \ First, you will need to call this API to create a token. Then, you will\
        \ use the token when launching the embedded application."
      operationId: createEmbeddedSession
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSessionTokenRequestBody'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmbeddedSession'
          description: Embedded session created.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestException'
          description: BadRequestException
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenException'
          description: ForbiddenException
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessNotFoundException'
          description: BusinessNotFoundException
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createEmbeddedSession_409_response'
          description: "BusinessHasNoInvoiceFinancingProductException, PlatformInvoiceIdAlreadyExistsForAnotherIssuedProductException"
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorException'
          description: InternalServerErrorException
      security:
      - Authorization: []
      summary: Create an embedded session
      tags:
      - Embedded Sessions
      x-readme:
        code-samples:
        - language: node
          install: npm install @kanmon/sdk
          name: SDK
          code: "\nkanmonApi.embeddedSessions.createEmbeddedSession({\n  ...params...\n\
            })\n    "
      x-content-type: application/json
      x-accepts:
      - application/json
components:
  schemas:
    ProductType:
      enum:
      - INVOICE_FINANCING
      - TERM_LOAN
      - MCA
      - LINE_OF_CREDIT
      - INTEGRATED_MCA
      - ACCOUNTS_PAYABLE_FINANCING
      type: string
    BusinessPrequalification:
      example:
        createdAt: 2022-06-01T03:57:26.115Z
        product: INVOICE_FINANCING
        platformBusinessId: 2b5d0f14-9b73-4f44-a82a-2182a9ff77bb
        isPrequalified: true
        businessId: 2b5d0f14-9b73-4f44-a82a-2182a9ff77bb
        platformId: 2b5d0f14-9b73-4f44-a82a-2182a9ff77bb
        prequalifiedAmountCents: 1000000
        updatedAt: 2022-06-01T03:57:26.115Z
      properties:
        product:
          $ref: '#/components/schemas/ProductType'
        platformId:
          description: The UUID representing your platform in Kanmon.
          example: 2b5d0f14-9b73-4f44-a82a-2182a9ff77bb
          type: string
        businessId:
          description: The UUID representing the business in Kanmon.
          example: 2b5d0f14-9b73-4f44-a82a-2182a9ff77bb
          nullable: true
          type: string
        platformBusinessId:
          description: Your platform’s unique ID for the business.
          example: 2b5d0f14-9b73-4f44-a82a-2182a9ff77bb
          type: string
        isPrequalified:
          description: Whether or not the business has been prequalified.
          type: boolean
        prequalifiedAmountCents:
          description: Number describing the prequalification amount of the business
            in cents.
          example: 1000000
          nullable: true
          type: number
        createdAt:
          description: Creation UTC ISO 8601 timestamp of the prequalification.
          example: 2022-06-01T03:57:26.115Z
          type: string
        updatedAt:
          description: Last updated UTC ISO 8601 timestamp of the prequalification.
          example: 2022-06-01T03:57:26.115Z
          type: string
      required:
      - businessId
      - createdAt
      - isPrequalified
      - platformBusinessId
      - platformId
      - prequalifiedAmountCents
      - product
      - updatedAt
      type: object
    PaginationResult:
      properties:
        limit:
          description: The number of records to limit when performing pagination.
          example: 100
          type: number
        offset:
          description: The number of records to skip when performing pagination.
          example: 0
          type: number
        totalCount:
          description: The total number of records that matched the query.
          example: 100
          type: number
      required:
      - limit
      - offset
      - totalCount
      type: object
    GetPrequalificationsResponse:
      example:
        pagination: ""
        prequalifications:
        - createdAt: 2022-06-01T03:57:26.115Z
          product: INVOICE_FINANCING
          platformBusinessId: 2b5d0f14-9b73-4f44-a82a-2182a9ff77bb
          isPrequalified: true
          businessId: 2b5d0f14-9b73-4f44-a82a-2182a9ff77bb
          platformId: 2b5d0f14-9b73-4f44-a82a-2182a9ff77bb
          prequalifiedAmountCents: 1000000
          updatedAt: 2022-06-01T03:57:26.115Z
        - createdAt: 2022-06-01T03:57:26.115Z
          product: INVOICE_FINANCING
          platformBusinessId: 2b5d0f14-9b73-4f44-a82a-2182a9ff77bb
          isPrequalified: true
          businessId: 2b5d0f14-9b73-4f44-a82a-2182a9ff77bb
          platformId: 2b5d0f14-9b73-4f44-a82a-2182a9ff77bb
          prequalifiedAmountCents: 1000000
          updatedAt: 2022-06-01T03:57:26.115Z
      properties:
        prequalifications:
          description: Array of prequalifications.
          items:
            $ref: '#/components/schemas/BusinessPrequalification'
          type: array
        pagination:
          allOf:
          - $ref: '#/components/schemas/PaginationResult'
          description: Pagination metadata.
      required:
      - pagination
      - prequalifications
      type: object
    BadRequestException:
      example:
        errorCode: BadRequestException
        message: Bad Request
        timestamp: 2022-06-01T03:57:26.115Z
      properties:
        errorCode:
          description: Safe for programmatic use.
          enum:
          - BadRequestException
          type: string
        message:
          description: The human readable description of the error.
          example: Bad Request
          type: string
        timestamp:
          description: When the error occurred - ISO 8601 format.
          example: 2022-06-01T03:57:26.115Z
          type: string
      required:
      - errorCode
      - message
      - timestamp
      type: object
    ForbiddenException:
      example:
        errorCode: ForbiddenException
        message: Forbidden
        timestamp: 2022-06-01T03:57:26.115Z
      properties:
        errorCode:
          description: Safe for programmatic use.
          enum:
          - ForbiddenException
          type: string
        message:
          description: The human readable description of the error.
          example: Forbidden
          type: string
        timestamp:
          description: When the error occurred - ISO 8601 format.
          example: 2022-06-01T03:57:26.115Z
          type: string
      required:
      - errorCode
      - message
      - timestamp
      type: object
    InternalServerErrorException:
      example:
        errorCode: InternalServerErrorException
        message: Internal Server Error
        timestamp: 2022-06-01T03:57:26.115Z
      properties:
        errorCode:
          description: Safe for programmatic use.
          enum:
          - InternalServerErrorException
          type: string
        message:
          description: The human readable description of the error.
          example: Internal Server Error
          type: string
        timestamp:
          description: When the error occurred - ISO 8601 format.
          example: 2022-06-01T03:57:26.115Z
          type: string
      required:
      - errorCode
      - message
      - timestamp
      type: object
    Address:
      properties:
        addressLineOne:
          type: string
        addressLineTwo:
          example: Apt 123
          nullable: true
          type: string
        city:
          type: string
        state:
          description: The 2 character abbreviated state
          enum:
          - AL
          - KY
          - OH
          - AK
          - LA
          - OK
          - AZ
          - ME
          - OR
          - AR
          - MD
          - PA
          - AS
          - MA
          - PR
          - CA
          - MI
          - RI
          - CO
          - MN
          - SC
          - CT
          - MS
          - SD
          - DE
          - MO
          - TN
          - DC
          - MT
          - TX
          - FL
          - NE
          - TT
          - GA
          - NV
          - UT
          - GU
          - NH
          - VT
          - HI
          - NJ
          - VA
          - ID
          - NM
          - VI
          - IL
          - NY
          - WA
          - IN
          - NC
          - WV
          - IA
          - ND
          - WI
          - KS
          - MP
          - WY
          example: CA
          type: string
        zipcode:
          description: "Zip code can be 5 digits, 9 digits, or 5+4 including a hyphen\
            \ or plus sign, e.g. 90210, 902101234, 90210-1234 or 90210+1234"
          example: "94401"
          type: string
        country:
          description: USA
          example: USA
          type: string
      required:
      - addressLineOne
      - city
      - country
      - state
      - zipcode
      type: object
    CreateBusinessRequestBody:
      example:
        website: https://www.my-business.com
        metadata: "{}"
        platformBusinessId: "12345"
        address:
          city: San Mateo
          state: CA
          country: USA
          zipcode: "94401"
          addressLineOne: 123 Main Street
        phoneNumber: "+14155556789"
        name: My Business
        ein: "123456789"
        customInitializationName: custom
      properties:
        platformBusinessId:
          description: Your platform’s unique ID for the business.
          example: "12345"
          type: string
        name:
          description: The business’s name.
          example: My Business
          type: string
        address:
          allOf:
          - $ref: '#/components/schemas/Address'
          description: "The business’s address. The address is optional. If you provide\
            \ the address, you need to provide all the required fields in the address."
          example:
            city: San Mateo
            state: CA
            country: USA
            zipcode: "94401"
            addressLineOne: 123 Main Street
        ein:
          description: "The business’s EIN. Only digits, no formatting."
          example: "123456789"
          type: string
        phoneNumber:
          description: "The business’s phone number. No formatting characters, country\
            \ code is optional."
          example: "+14155556789"
          type: string
        website:
          description: The business’s website.
          example: https://www.my-business.com
          type: string
        customInitializationName:
          description: "A Custom Initialization controls custom implementation profiles\
            \ for you in Kanmon. Custom Initializations enable a variety of specific\
            \ configurations for your integration, including embedded UI customization,\
            \ feature activation, and platform product-line identification. The Kanmon\
            \ Team will work with you to establish a Custom Initialization and corresponding\
            \ custom profile if your platform can benefit from this optional configuration.\
            \ To identify each Custom Initialization, you can define a unique customInitializationName\
            \ as a reference."
          example: custom
          type: string
        metadata:
          description: Metadata from your system that you want to associate the business
            with.
          type: object
      required:
      - platformBusinessId
      type: object
    Business:
      example:
        createdAt: 2022-06-01T03:57:26.115Z
        website: https://www.my-business.com
        metadata: "{}"
        platformBusinessId: "12345"
        address:
          city: San Mateo
          state: CA
          country: USA
          zipcode: "94401"
          addressLineOne: 123 Main Street
        phoneNumber: "+14155556789"
        name: My Business
        id: 1193fdaf-630c-4771-a629-8da7a87947d2
        ein: "123456789"
        customInitializationName: custom
        updatedAt: 2022-06-01T03:57:26.115Z
      properties:
        id:
          description: The UUID representing the business in Kanmon.
          example: 1193fdaf-630c-4771-a629-8da7a87947d2
          type: string
        platformBusinessId:
          description: Your platform’s unique ID for the business.
          example: "12345"
          type: string
        name:
          description: The business’s name.
          example: My Business
          nullable: true
          type: object
        address:
          allOf:
          - $ref: '#/components/schemas/Address'
          description: "The business’s address. The address is optional. If you provide\
            \ the address, you need to provide all the required fields in the address."
          example:
            city: San Mateo
            state: CA
            country: USA
            zipcode: "94401"
            addressLineOne: 123 Main Street
          nullable: true
        ein:
          description: "The business’s EIN. Only digits, no formatting."
          example: "123456789"
          nullable: true
          type: string
        phoneNumber:
          description: "The business’s phone number. No formatting characters, country\
            \ code is optional."
          example: "+14155556789"
          nullable: true
          type: object
        website:
          description: The business’s website.
          example: https://www.my-business.com
          nullable: true
          type: object
        customInitializationName:
          description: "A Custom Initialization controls custom implementation profiles\
            \ for you in Kanmon. Custom Initializations enable a variety of specific\
            \ configurations for your integration, including embedded UI customization,\
            \ feature activation, and platform product-line identification. The Kanmon\
            \ Team will work with you to establish a Custom Initialization and corresponding\
            \ custom profile if your platform can benefit from this optional configuration.\
            \ To identify each Custom Initialization, you can define a unique customInitializationName\
            \ as a reference."
          example: custom
          type: object
        metadata:
          description: Metadata from your system that you want to associate the business
            with.
          type: object
        createdAt:
          description: Creation UTC ISO 8601 timestamp of the business.
          example: 2022-06-01T03:57:26.115Z
          type: string
        updatedAt:
          description: Last updated UTC ISO 8601 timestamp of the business.
          example: 2022-06-01T03:57:26.115Z
          type: string
      required:
      - createdAt
      - ein
      - id
      - metadata
      - name
      - phoneNumber
      - updatedAt
      - website
      type: object
    BusinessAlreadyExistsException:
      example:
        errorCode: BusinessAlreadyExistsException
        message: An error occurred.
        timestamp: 2022-06-01T03:57:26.115Z
      properties:
        errorCode:
          description: Safe for programmatic use.
          enum:
          - BusinessAlreadyExistsException
          type: string
        message:
          description: The human readable description of the error.
          example: An error occurred.
          type: string
        timestamp:
          description: When the error occurred - ISO 8601 format.
          example: 2022-06-01T03:57:26.115Z
          type: string
      required:
      - errorCode
      - message
      - timestamp
      type: object
    UpdateBusinessRequestBody:
      example:
        website: https://www.my-business.com
        metadata: "{}"
        platformBusinessId: "12345"
        address:
          city: San Mateo
          state: CA
          country: USA
          zipcode: "94401"
          addressLineOne: 123 Main Street
        phoneNumber: "+14155556789"
        name: My Business
        ein: "123456789"
        customInitializationName: custom
      properties:
        name:
          description: The business’s name.
          example: My Business
          type: string
        platformBusinessId:
          description: Your platform’s unique ID for the business.
          example: "12345"
          type: string
        address:
          allOf:
          - $ref: '#/components/schemas/Address'
          description: "The business’s address. The address is optional. If you provide\
            \ the address, you need to provide all the required fields in the address."
          example:
            city: San Mateo
            state: CA
            country: USA
            zipcode: "94401"
            addressLineOne: 123 Main Street
        ein:
          description: "The business’s EIN. Only digits, no formatting."
          example: "123456789"
          type: string
        phoneNumber:
          description: "The business’s phone number. No formatting characters, country\
            \ code is optional."
          example: "+14155556789"
          type: string
        website:
          description: The business’s website.
          example: https://www.my-business.com
          type: string
        customInitializationName:
          description: "A Custom Initialization controls custom implementation profiles\
            \ for you in Kanmon. Custom Initializations enable a variety of specific\
            \ configurations for your integration, including embedded UI customization,\
            \ feature activation, and platform product-line identification. The Kanmon\
            \ Team will work with you to establish a Custom Initialization and corresponding\
            \ custom profile if your platform can benefit from this optional configuration.\
            \ To identify each Custom Initialization, you can define a unique customInitializationName\
            \ as a reference."
          example: custom
          type: object
        metadata:
          description: Metadata from your system that you want to associate the business
            with.
          type: object
      type: object
    BusinessNotFoundException:
      example:
        errorCode: BusinessNotFoundException
        message: An error occurred.
        timestamp: 2022-06-01T03:57:26.115Z
      properties:
        errorCode:
          description: Safe for programmatic use.
          enum:
          - BusinessNotFoundException
          type: string
        message:
          description: The human readable description of the error.
          example: An error occurred.
          type: string
        timestamp:
          description: When the error occurred - ISO 8601 format.
          example: 2022-06-01T03:57:26.115Z
          type: string
      required:
      - errorCode
      - message
      - timestamp
      type: object
    ActivityLog:
      example:
        createdAt: 2022-06-01T03:57:26.115Z
        platformBusinessId: "12345"
        payload: "{}"
        businessId: 1193fdaf-630c-4771-a629-8da7a87947d2
        id: 1193fdaf-630c-4771-a629-8da7a87947d2
        eventType: BUSINESS.NEW_ACCOUNT
        updatedAt: 2022-06-01T03:57:26.115Z
      properties:
        id:
          description: The UUID representing the activity log item in Kanmon.
          example: 1193fdaf-630c-4771-a629-8da7a87947d2
          type: string
        businessId:
          description: The UUID representing the business in Kanmon.
          example: 1193fdaf-630c-4771-a629-8da7a87947d2
          type: string
        platformBusinessId:
          description: Your platform’s unique business ID for the user.
          example: "12345"
          nullable: true
          type: string
        payload:
          description: "Event details and schema: https://kanmon.dev/docs/webhook-events"
          type: object
        eventType:
          description: A description of the log event type.
          example: BUSINESS.NEW_ACCOUNT
          type: string
        createdAt:
          description: Creation UTC ISO 8601 timestamp of the business.
          example: 2022-06-01T03:57:26.115Z
          type: string
        updatedAt:
          description: Last updated UTC ISO 8601 timestamp of the business.
          example: 2022-06-01T03:57:26.115Z
          type: string
      required:
      - businessId
      - createdAt
      - eventType
      - id
      - payload
      - platformBusinessId
      - updatedAt
      type: object
    GetActivityLogsResponse:
      example:
        pagination: ""
        activityLogs:
        - createdAt: 2022-06-01T03:57:26.115Z
          platformBusinessId: "12345"
          payload: "{}"
          businessId: 1193fdaf-630c-4771-a629-8da7a87947d2
          id: 1193fdaf-630c-4771-a629-8da7a87947d2
          eventType: BUSINESS.NEW_ACCOUNT
          updatedAt: 2022-06-01T03:57:26.115Z
        - createdAt: 2022-06-01T03:57:26.115Z
          platformBusinessId: "12345"
          payload: "{}"
          businessId: 1193fdaf-630c-4771-a629-8da7a87947d2
          id: 1193fdaf-630c-4771-a629-8da7a87947d2
          eventType: BUSINESS.NEW_ACCOUNT
          updatedAt: 2022-06-01T03:57:26.115Z
      properties:
        activityLogs:
          description: An array of activity logs.
          items:
            $ref: '#/components/schemas/ActivityLog'
          type: array
        pagination:
          allOf:
          - $ref: '#/components/schemas/PaginationResult'
          description: Pagination metadata.
      required:
      - activityLogs
      - pagination
      type: object
    GetBusinessesResponse:
      example:
        pagination: ""
        businesses:
        - createdAt: 2022-06-01T03:57:26.115Z
          website: https://www.my-business.com
          metadata: "{}"
          platformBusinessId: "12345"
          address:
            city: San Mateo
            state: CA
            country: USA
            zipcode: "94401"
            addressLineOne: 123 Main Street
          phoneNumber: "+14155556789"
          name: My Business
          id: 1193fdaf-630c-4771-a629-8da7a87947d2
          ein: "123456789"
          customInitializationName: custom
          updatedAt: 2022-06-01T03:57:26.115Z
        - createdAt: 2022-06-01T03:57:26.115Z
          website: https://www.my-business.com
          metadata: "{}"
          platformBusinessId: "12345"
          address:
            city: San Mateo
            state: CA
            country: USA
            zipcode: "94401"
            addressLineOne: 123 Main Street
          phoneNumber: "+14155556789"
          name: My Business
          id: 1193fdaf-630c-4771-a629-8da7a87947d2
          ein: "123456789"
          customInitializationName: custom
[...]
